version: "3"

services:
  postgis:
    image: kartoza/postgis
    volumes:
      - pg_data:/var/lib/postgresql
    ports:
      - 5432

  tilemill:
    image: hansmeine/osm-bright
    volumes:
      - ~/Documents/MapBox:/root/Documents/MapBox
    ports:
      - 20009:20009
      - 20008:20008
    environment:
      - PGHOST=postgis
      - PGDATABASE=gis
      - PGUSER=docker
      - PGPASSWORD=docker

volumes:
  pg_data:
